################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/PQrpq/Debug
/WithoutQueue/.gitattributes
/WithoutQueue/CppProperties.json
/WithoutQueue/.gitignore
/WithoutQueue/RPQ.sln
/WithoutQueue/RPQ.vcxproj
/WithoutQueue/RPQ.vcxproj.filters
/PQrpq/.vs/PQrpq/v16
/PQrpq/PQrpq.sln
/PQrpq/PQrpq.vcxproj
/PQrpq/PQrpq.vcxproj.filters
/PQrpq/PQrpq.vcxproj.user
/Carlier/.vs/Carlier/v16
/Carlier/Debug
/Carlier/Carlier.cpp
/Carlier/Carlier.vcxproj
/Carlier/Carlier.vcxproj.filters
/Carlier/Carlier.vcxproj.user
/BezKolejki/.gitattributes
/BezKolejki/.gitignore
/BezKolejki/CppProperties.json
/BezKolejki/RPQ.vcxproj
/BezKolejki/RPQ.vcxproj.filters
/Z Kolejka/.vs/PQrpq/v16
/Z Kolejka/Debug
/Z Kolejka/PQrpq.vcxproj
/Z Kolejka/PQrpq.vcxproj.filters
/Z Kolejka/PQrpq.vcxproj.user
